[Unit]
Description=Deepin Dynamic Wallpaper Daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.deepin.meme.daemon
ExecStart=/usr/bin/deepin-meme-daemon
Environment=QT_LOGGING_RULES=meme.*=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
